[user]
    name = Basile Dura
    email = basile@bdura.me
    signingkey = ~/.ssh/id_ed25519
[gpg]
    format = ssh
[commit]
    gpgsign = true
[core]
    excludesfile = ~/.global_gitignore
[pull]
    rebase = true
[push]
    default = current
    autoSetupRemote = true
[alias]
    lg = log --oneline --graph --decorate --color
[status]
    showUntrackedFiles = all
[core]
    editor = nvim
[init]
    defaultBranch = main
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f

[include]
    # delta configuration
    path = .config/delta/delta.gitconfig
